.button {
    -fx-background-insets: 0;
}
.label{
    -fx-label-padding: 5;
}
.btn-scanning-interface{
 -fx-base: green;
}
.btn-push-interface{
 -fx-base: yellow;
}
.scanningCountText{
    -fx-text-fill: green;
}
.table-row-cell{
    -fx-cell-size: 40px;
}
.table-column{
    -fx-alignment: CENTER;
}
